.dropdown-btn{
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 1rem;
    cursor: pointer;
    user-select: none;
}

.toggle-icon{
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f26522;
}

.dropdown-content{
    position: absolute;
    min-width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: white;
    max-height: 40vh;
    overflow: scroll;
    scrollbar-width: none;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block; 
}

.toggle-icon {
    margin-left: 8px;
    transition: transform 0.3s ease;
}

.dropdown:hover .toggle-icon{
    transform: rotate(180deg);
}

.dropdown{
    position: relative;
    display: inline-block;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

.dropdown-item{
    padding: 0.5rem;
    margin: 0.1rem;
    width: 100%;
    border-radius: 0.5rem;
    cursor: pointer;
}

.dropdown-item:hover{
    background-color: rgb(240, 249, 255);
}

