.logo {
    margin-left: 40px;
    width: 60px;
    cursor: pointer;
    user-select: none;
}

.navbar {
    width: 95%;
    max-width: 1200px;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    justify-content: space-between;
    background: #001F3F;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);;
}


ul {
    flex: 1;
    list-style: none;
    text-align: center;
}

ul li {
    display: inline-block;
    margin: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    user-select: none;
    color: #f26522;
    font-weight: 700;
}

.mode {
    width: 25px;
    cursor: pointer;
    margin-right: 20px;
    user-select: none;
    margin-top: -8px;
}

.no-underline {
    text-decoration: none;
    color: #f26522 ;
    font-weight: 700;
}

.modal-profile {
    display: flex;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #f6d365;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
}

/* Profile Container */
.profile-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* Ảnh nền */
.cover-photo {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
}

.cover-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Ảnh đại diện */
.avatar-container {
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border: 5px solid #fff;
}

.avatar-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* Profile Info */
.profile-info {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    padding: 20px 20px 0px 20px;
    text-align: center;
}

.profile-info h1 {
    margin: 10px 0px 0px 0px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.profile-field {
    display: flex;
    align-items: center;
    margin: 10px 0;
    gap: 10px;
}

.profile-field label {
    font-weight: bold;
    margin-top: 5px;
    font-size: 20px;
}

.profile-field span {
    font-size: 20px;
}


.profile-field span,
.profile-field input {
  flex: 1; /* Chiếm không gian còn lại */
  text-align: left; /* Canh trái nội dung */
}

.profile-field input {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input {
    margin-top: 15px !important;
}

.profile-field button {
    padding: 5px;
    height: 30px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.profile-field button:hover {
    background-color: #0056b3;
}

/* Nút đóng */
.modal-buttons {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.modal-buttons .small-button {
    padding: 10px 20px;
    background-color: #f26522;
    color: white;
    border: none;
    font-size: 17px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
}

.modal-buttons .small-button:hover {
    background-color: #5a6268;
}

/* navbar icon */
.dropdown-items {
    color: #f26522;
    font-weight: 700;
}

.profile-image {
    filter: invert(53%) sepia(27%) saturate(7289%) hue-rotate(349deg) brightness(99%) contrast(91%);
    width: 40px;
    height: 40px;
}