body {
  margin: 0;
  padding: 0;
  font-family: "Google Sans", Helvetica, Arial, sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  height: 100vh;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.login-left {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.login-image {
  max-width: 100%;
  max-height: 60%;
  border-radius: 10px;
}

.login-message {
  padding: 20px;
  font-size: 1.2rem;
  text-align: center;
  color: #333;
}

.login-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.login-form {
  margin-bottom: 60px;
  width: 80%;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.login-form h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.login-form form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 0.9rem;
  margin-bottom: 5px;
  color: #555;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.password-container {
  display: flex;
  align-items: center;
}

.toggle-password {
  margin-left: -30px;
  cursor: pointer;
  font-size: 0.9rem;
  color: #888;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #555;
}

.login-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  color: #555;
}

.register-link {
  margin-top: 15px;
  text-align: center;
}

.register-link a {
  color: #007bff;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}

.social-login {
  margin-top: 20px;
  text-align: center;
}

.social-btn {
  background-color: #ddd;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 1.2rem;
  margin: 0 10px;
  cursor: pointer;
}

.social-btn:hover {
  background-color: #ccc;
}

.remember-me{
  align-items: center;
}

.remember-me input{
  align-items: center;
}

.forgot-password {
  align-items: center;
}